.background-register{
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.register {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.register-content {
    display: flex;
    flex-direction: column;
}

.register-text {
    margin-bottom: 20px;
}

.register-input {
    margin-bottom: 15px;
}

.register-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-register{
    text-decoration: underline !important;
    color: red !important;
    font-size: 18px;
}
.navlink {
    text-decoration: none;
    color: white;
}

.forgot-password {
    text-decoration: none;
    color: blue;
}
