.background-login{
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.background-login {
  background-color: #f8f9fa;
  height: 100vh;
}

.Login {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.Login_content {
    
  display: flex;
  flex-direction: column;
}

.Login_text {
  margin-bottom: 20px;
}

.Login_input {
  margin-bottom: 15px;
}

.Login_text_sub {
  margin-bottom: 20px;
}
.forgot-password{
    color: #007bff;
    text-decoration: none;
}
.Login_btn {
  justify-content: center;
}

.abcdlogin {
  width: auto;
}

.navlink {
  text-decoration: none;
  color: white;
}
.register-form {
    border-top:1px solid #ccc ;
    margin-top: 20px;
}
.register-form .border-top{
    margin: 20px 0;
    height: 40px;
}
